<section
    class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary"
    {% if page.hero_image %}
        style="background: url('{{ page.hero_image | relative_url }}') no-repeat center center; background-size: cover;"
    {% endif %}
>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
            {% assign display_page_title = page.title %}
            {% if page.conference %}
                {% assign display_page_title = '[' | append: page.conference | append: '] ' | append: page.title %}
            {% endif %}
            <h1 class="title is-2">{{ display_page_title }}</h1>
            <p class="subtitle is-3">{{ page.subtitle }}</p>
            {% if page.hero_links %}
                <div class="buttons my-4">
                    {% for hero_link in page.hero_links %}
                        <a href="{{ hero_link.link | relative_url }}" class="button is-rounded is-medium is-white is-outlined{% if hero_link.class %} {{ hero_link.class }}{% endif %}">
                            {% if hero_link.icon %}
                                <span class="icon"><i class="{{ hero_link.icon }}"></i></span>
                            {% endif %}
                            <span>{{- hero_link.text -}}</span>
                        </a>
                    {% endfor %}
                </div>
            {% elsif page.hero_link %}
                <div class="my-4">
                    <a href="{{ page.hero_link | relative_url }}" class="button is-primary is-large">
                        {{- page.hero_link_text -}}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
